@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif+JP&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

//header
.header {
  overflow: hidden;
  position: relative;
  z-index: 999;

  &.is-scrolled {
    top: 0;

    .header__wrapper {
      background: none;
      background-color: rgba(192, 222, 204, 0.7);

    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    height: 150px;
    justify-content: space-between;
    background: url(./img/header_bg_01_pc.png) no-repeat center;
    position: fixed;

    @media screen and (max-width: 1024px) {
      height: 100px;
    }

    @media screen and (max-width: 727px) {
      height: 50px;
    }
  }

  &__logo {
    width: 123px;
    margin-left: 30px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 727px) {
      width: 50px;
      margin-left: 3%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 165px;

    @media screen and (max-width: 1024px) {
      padding-right: 12%;
      display: none;
    }

    @media screen and (max-width: 727px) {
      padding-right: 6%;
    }

    @media screen and (max-width: 425px) {
      padding-right: 13%;
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__list {
      display: flex;
      justify-content: flex-end;

      &__item {
        font-family: "Noto Serif JP";
        font-size: 2.4rem;
        margin-right: 60px;
        position: relative;

        @media screen and (max-width: 1024px) {
          margin-right: 25px;
          font-size: 1.4rem;
        }

        @media screen and (max-width: 425px) {
          margin-right: 12px;
        }

        @media screen and (max-width: 640px) {
          font-size: 1rem;
        }

        a {
          color: #35763c;
          position: relative;

          &::before {
            content: "";
            background-color: #35763c;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 12px;
            margin-bottom: 5px;

            @media screen and (max-width: 1024px) {
              margin-bottom: 0;

            }

            @media screen and (max-width: 640px) {
              width: 5px;
              height: 5px;
              margin-bottom: 5px;
            }

            @media screen and (max-width: 425px) {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  &__button {
    background: url(./img/header_img_03_pc.png) no-repeat center;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;

    @media screen and (max-width: 1024px) {
      display: none;

    }

    @media screen and (max-width: 727px) {
      width: 50px;
      height: 50px;
    }

    img {
      width: 100%;
      z-index: 3;

    }
  }

  .ham-menu {
    width: 100px;
    height: 100px;
    background: url(./img/header_img_03_pc.png) no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;

    @media screen and (max-width: 1024px) {
      display: block;
    }

    @media screen and (max-width: 727px) {
      width: 50px;
      height: 50px;
    }


    &.active span {
      &:nth-child(1) {
        transform: rotate(-45deg);
        top: 48px;
        width: 75px;
        left: 13px;

        @media screen and (max-width: 727px) {
          top: 24px;
          left: 7px;
          width: 40px;
        }
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(45deg);
        top: 49px;
        width: 75px;
        left: 13px;

        @media screen and (max-width: 727px) {
          top: 25px;
          left: 7px;
          width: 40px;
        }
      }
    }

    span {
      display: inline-block;
      position: absolute;
      left: 20px;
      height: 2px;
      background: #fff;
      width: 63px;

      @media screen and (max-width: 727px) {
        left: 7px;
        width: 35px;
      }

      &:nth-child(1) {
        top: 75px;

        @media screen and (max-width: 727px) {
          top: 38px;
        }
      }

      &:nth-child(2) {
        top: 50px;

        @media screen and (max-width: 727px) {
          top: 25px;
        }
      }

      &:nth-child(3) {
        top: 25px;

        @media screen and (max-width: 727px) {
          top: 12px;
        }
      }
    }
  }

  &.active {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;

    .header__box {
      display: block;
      height: 100vh;
      position: absolute;
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      overflow-y: auto;
      height: 100vh;
      //margin-top: 100px;

    }

    .header__nav__list {
      flex-direction: column;
      //align-items: center;
      line-height: 4;
      width: 100%;
    }

    .header__nav__list__item {
      font-size: 2.6rem;
      margin-right: 0;

      @media screen and (max-width: 727px) {
        font-size: 2.4rem;
      }
    }
  }
}

//fv
.fv {
  overflow: hidden;

  &__slider {
    overflow: hidden;
    width: 100%;
    opacity: 0;
    position: relative;
    z-index: 1;

    &.slick-initialized {
      opacity: 1;
    }

    &--cnt {
      width: 100%;
      height: 100vh;
      min-height: 800px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;

        &.img-pc {
          display: block;
        }

        &.img-sp {
          display: none;
        }

        @media screen and (max-width: 640px) {
          &.img-pc {
            display: none;
          }

          &.img-sp {
            display: block;
          }
        }

      }
    }

    @media screen and (max-width: 640px) {}
  }

  &__bg {
    width: 100%;
    padding-bottom: 10%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__title {
    width: 500px;
    flex-wrap: wrap;
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 3;

    @media screen and (max-width: 640px) {
      width: 70%;
    }

    &__text {
      background: url(./img/mv_bg_01_pc.png) no-repeat center;
      color: #fff;
      font-size: 3rem;
      padding: 2% 6%;
      display: inline-block;
      margin-bottom: 32px;

      @media screen and (max-width: 640px) {
        font-size: 2rem;
      }
    }
  }

  &__float {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 999;
    width: 200px;
    height: 200px;
    @media screen and (max-width: 640px) {
      display: none !important;
    }
  }
}

//concept
.concept {
  position: relative;
  width: 100%;
  background-color: #E8F6E2;

  &::before {
    content: "";
    width: 1px;
    height: 80px;
    background-color: #60af49;
    top: -6%;
    left: 50%;
    position: absolute;

    @media screen and (max-width: 375px) {
      top: -5%;
      height: 50px;
    }
  }

  &__bg {
    background: url(./img/concept_bg_01_pc.png) no-repeat center top 190px;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 1024px) {
      background: url(./img/concept_bg_01_pc.png) no-repeat center 187px;
      background-size: 123%;
    }

    @media screen and (max-width: 640px) {
      background: url(./img/concept_bg_01_pc.png) no-repeat center 170px;
      background-size: contain;
    }

    @media screen and (max-width: 375px) {
      background: url(./img/concept_bg_01_pc.png) no-repeat center 100px;
      background-size: 125%;
    }
  }

  &__container {
    position: relative;
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }

    @media screen and (max-width: 375px) {
      padding: 0 4%;
    }
  }

  &__title {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    font-weight: normal;

    @media screen and (max-width: 1024px) {
      padding-top: 15%;
      font-size: 2rem;
    }

    @media screen and (max-width: 375px) {
      font-size: 1.5rem;
    }

    &::before {
      content: "";
      background-color: #60af49;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 12px;
      margin-top: 4px;

      @media screen and (max-width: 375px) {
        width: 7px;
        height: 7px;
        margin-right: 5px;
        margin-top: 0;
      }
    }
  }

  &__sub-title {
    line-height: 1.5;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Noto Serif JP";
    font-size: 3.2rem;
    font-weight: normal;

    @media screen and (max-width: 640px) {
      font-size: 2.8rem;
      padding-top: 7%;
    }

    @media screen and (max-width: 375px) {
      font-size: 1.8rem;
      padding-top: 7%;
    }

    span {
      color: #60af49;
    }
  }

  &__text {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Serif JP";
    font-size: 18px;
    text-align: center;
    line-height: 2;

    @media screen and (max-width: 1024px) {
      font-size: 1.8rem;
    }

    @media screen and (max-width: 640px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 375px) {
      font-size: 1.2rem;
      padding: 10% 0 20%;
    }
  }
}


//message
.message {
  width: 100%;
  height: 100%;

  &__bg {
    width: 100%;
    height: 100%;
    background: url(./img/message_bg_01_pc.png) no-repeat top center;
  }

  &__container {
    position: relative;
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    padding-top: 100px;

    @media screen and (max-width: 640px) {
      flex-direction: column-reverse;
    }
  }

  &__text {
    width: 70%;

    @media screen and (max-width: 1200px) {
      width: 55%;
      padding-left: 2%;
      margin-right: 10%;
    }

    @media screen and (max-width: 640px) {
      width: 100%;

    }

    @media screen and (max-width: 375px) {
      padding: 4%;
    }

    &__title {
      font-weight: normal;
      position: relative;

      span {
        font-weight: normal;
        font-size: 1.6rem;
      }

      p {
        font-size: 5rem;

        @media screen and (max-width: 1200px) {
          font-size: 3rem;

          .br {
            display: none;
          }
        }

        @media screen and (max-width: 640px) {
          font-size: 2.3rem;
        }

        &::before {
          content: "";
          background-color: #60af49;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          left: -30px;
          top: 54px;
          position: absolute;

          @media screen and (max-width: 1200px) {
            left: -23px;
            top: 42px;
          }

          @media screen and (max-width: 1024px) {
            left: -20px;
            top: 40px;
          }

          @media screen and (max-width: 640px) {
            top: 36px;
            left: -15px;
          }
        }
      }
    }

    &__sub-title {
      font-family: "Noto Serif JP";
      font-weight: normal;
      padding: 32px 0 100px;
      font-size: 3rem;

      @media screen and (max-width: 1024px) {
        font-size: 2rem;
        padding: 3% 0 10%;
      }

      @media screen and (max-width: 375px) {
        font-size: 1.4rem;
      }
    }

    &__contents {
      font-family: "Noto Serif JP";
      font-size: 18px;
      line-height: 2;
      padding-bottom: 70px;

      @media screen and (max-width: 1024px) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 640px) {
        font-size: 1.2rem;

        .br {
          display: none;
        }
      }

      @media screen and (max-width: 375px) {
        padding-bottom: 10%;
      }

      span {
        font-size: 3rem;

        @media screen and (max-width: 1024px) {
          font-size: 2rem;
        }

        @media screen and (max-width: 640px) {
          font-size: 1.4rem;
        }
      }
    }

    &__btn {
      display: inline-block;
      color: #fff;
      border-radius: 100px;
      background: url(./img/recruitment_img_02_pc.png) no-repeat center;
      background-size: cover;
      width: 460px;
      height: 90px;
      font-size: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 1024px) {
        width: 100%;
        height: 60px;
      }

      @media screen and (max-width: 640px) {
        width: 90%;
        margin: 0 auto;
        height: 45px;
        font-size: 1.8rem;
      }

      @media screen and (max-width: 375px) {
        font-size: 1.5rem;
        height: 45px;
        width: 100%;
      }
    }
  }

  &__pic {
    width: 30%;

    @media screen and (max-width: 1200px) {
      width: 40%;

    }

    @media screen and (max-width: 1024px) {
      width: 50%;
      padding-left: 10%;
    }

    @media screen and (max-width: 640px) {
      margin: 0 auto 10%;
      width: 60%;
      padding-left: 0;
    }

    @media screen and (max-width: 375px) {
      width: 75%;
    }

    &__photo {
      width: 100%;
    }
  }
}

//about-us
.about-us {
  padding-bottom: 40px;

  &__bg {
    background: url(./img/about_bg_01_pc.png) no-repeat top center;
    background-size: cover;
    padding: 120px 0;

    @media screen and (max-width: 1200px) {
      padding: 0;
    }
  }

  &__container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__title {
    padding: 150px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    position: relative;

    @media screen and (max-width: 1024px) {
      padding: 8% 0;
    }

    @media screen and (max-width: 640px) {
      font-size: 2rem;
    }

    p {
      display: inline-block;
      position: relative;

      &::before {
        content: "";
        background-color: #60af49;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 15px;
        left: -25px;
        position: absolute;

        @media screen and (max-width: 1024px) {
          left: -20px;
          top: 16px;
        }

        @media screen and (max-width: 640px) {
          left: -15px;
          top: 10px;
        }

        @media screen and (max-width: 375px) {
          left: -15px;
          top: 10px;
        }
      }
    }

    span {
      font-weight: normal;
      font-size: 1.6rem;

      @media screen and (max-width: 375px) {
        font-size: 1.4rem;
      }
    }
  }

  &__button {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 180px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 10%;
    }

    &__btn {
      cursor: pointer;
      width: calc(50% - 30px);
      margin-right: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 200px;
      border-radius: 20px 20px 0 0;
      background-color: #eee;
      font-size: 2.6rem;

      @media screen and (max-width: 1024px) {
        font-size: 2vw;
      }

      @media screen and (max-width: 640px) {
        width: 49.5%;
        margin-right: 1%;
      }

      &:nth-child(2) {
        margin-right: 0;

        @media screen and (max-width: 640px) {
          width: 49.5%;
        }
      }

      @media screen and (max-width: 1024px) {
        font-size: 2vw;
        height: 140px;
      }

      @media screen and (max-width: 640px) {
        height: 85px;
      }

      @media screen and (max-width: 375px) {
        font-size: 1rem;
      }

      &.active {
        background-color: #60af49;
        color: #fff;
      }
    }
  }

  &__wrapper {
    display: flex;

    @media screen and (max-width: 640px) {
      flex-direction: column-reverse;
    }
  }

  &__text {
    width: calc(100% - 560px);
    margin-right: 50px;

    @media screen and (max-width: 1024px) {
      width: 50%;
      margin-right: 5%;
    }

    @media screen and (max-width: 640px) {
      width: 100%;
      margin-right: 0;
      padding: 3%;
    }

    &__title {
      font-size: 2.4rem;
      line-height: 1.5;
      color: #4a4a4a;
      font-weight: 500;
      margin-bottom: 35px;
      padding-bottom: 35px;
      border-bottom: 1px solid #005b22;

      @media screen and (max-width: 1024px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 375px) {
        margin-bottom: 3%;
        padding-bottom: 3%;
      }
    }

    &__contents {
      font-size: 1.6rem;
      padding-bottom: 40px;

      @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
      }
    }

    &__button {
      border-radius: 100px;
      background: url(./img/recruitment_img_02_pc.png) no-repeat center;
      background-size: cover;
      width: 420px;
      height: 70px;
      font-size: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 1024px) {
        height: 60px;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
      }

      a {
        color: #fff;
      }

      @media screen and (max-width: 375px) {
        height: 45px;
        font-size: 1.5rem;
      }
    }

  }

  &__pic {
    width: 627px;

    @media screen and (max-width: 1024px) {
      width: 45%;
    }

    @media screen and (max-width: 640px) {
      width: 100%;
    }

    &__img {
      width: 100%;
    }
  }
}

//recruitment
.recruitment {
  &__bg {
    background: url(./img/about_bg_01_pc.png) no-repeat top center;
    background-size: cover;
    padding-bottom: 40px;
  }

  &__container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__title {
    padding: 0 0 150px;
    font-size: 5rem;
    font-weight: normal;
    position: relative;

    @media screen and (max-width: 1200px) {
      padding-left: 2%;
      font-size: 3rem;
      padding-bottom: 5%;
    }

    @media screen and (max-width: 640px) {
      font-size: 2rem;
    }

    p {
      position: relative;

      &::before {
        content: "";
        background-color: #60af49;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: -28px;
        top: 33px;
        position: absolute;

        @media screen and (max-width: 1200px) {
          left: -20px;
          top: 17px;
        }

        @media screen and (max-width: 640px) {
          left: -20px;
          top: 12px;
        }

        @media screen and (max-width: 375px) {
          left: -15px;
          top: 11px;
        }
      }
    }

    &__img {
      position: absolute;
      right: 0;
      width: 337px;

      @media screen and (max-width: 1200px) {
        width: 20vw;
      }

      @media screen and (max-width: 640px) {
        width: 27vw;
      }

      &__pic {
        width: 100%;
      }
    }

    span {
      font-weight: normal;
      font-size: 1.6rem;
    }
  }

  &__button {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    &__btn {
      cursor: pointer;
      width: calc(50% - 30px);
      margin-right: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100px;
      border-radius: 20px;
      background-color: #eee;
      font-size: 2.6rem;
      border: 1px solid #60af49;
      ;

      @media screen and (max-width: 640px) {
        width: 49.5%;
        margin-right: 1%;
        height: 45px;
        font-size: 1.4rem;
      }

      &:nth-child(2) {
        margin-right: 0;

        @media screen and (max-width: 640px) {
          width: 49.5%;
        }
      }

      @media screen and (max-width: 1024px) {
        height: 65px;
      }

      @media screen and (max-width: 640px) {
        height: 50px;
      }

      &.active {
        background-color: #60af49;
        color: #fff;
      }
    }
  }

  &__text {

    &__contents {
      font-size: 2rem;
      padding-bottom: 30px;
      color: #60af49;
      font-weight: bold;

      @media screen and (max-width: 640px) {
        font-size: 1.6rem;
      }
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #60af69;

      &:last-child {
        border-bottom: 1px solid #60af69;
      }

      @media screen and (max-width: 640px) {
        flex-direction: column;
      }

      &__title {
        width: 260px;
        font-size: 18px;
        color: #4a4a4a;
        font-weight: bold;
        padding: 35px;
        background-color: #f8faf5;
        ;

        @media screen and (max-width: 1024px) {
          font-size: 1.6rem;
        }

        @media screen and (max-width: 640px) {
          width: 100%;
          font-size: 1.4rem;
        }
      }

      &__contents {
        width: calc(100% - 260px);
        padding: 35px 100px;
        font-size: 18px;
        line-height: 2;
        color: #4a4a4a;
        font-weight: 400;

        @media screen and (max-width: 1024px) {
          font-size: 1.6rem;
          padding: 3% 5%;
        }

        @media screen and (max-width: 640px) {
          width: 100%;
          font-size: 1.4rem;
        }
      }
    }
  }
}

//merit
.merit {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 1024px) {
    padding: 0 2%;
  }

  @media screen and (max-width: 640px) {
    padding: 0 4%;
  }

  &__title {
    padding: 0 0 100px;
    font-size: 5rem;
    font-weight: normal;
    position: relative;

    @media screen and (max-width: 1200px) {
      padding-left: 2%;
      font-size: 3rem;
      padding-bottom: 5%;
    }

    @media screen and (max-width: 640px) {
      font-size: 2rem;
    }

    p {
      position: relative;

      &::before {
        content: "";
        background-color: #60af49;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: -28px;
        top: 33px;
        position: absolute;

        @media screen and (max-width: 1200px) {
          left: -20px;
          top: 17px;
        }

        @media screen and (max-width: 640px) {
          left: -20px;
          top: 12px;
        }

        @media screen and (max-width: 375px) {
          left: -15px;
          top: 11px;
        }
      }
    }

    span {
      font-weight: normal;
      font-size: 1.6rem;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 30px;

    &__item {
      border-radius: 10px;
      border: 1px solid #60af49;
      width: 213px;
      height: 221px;
      background-color: #eee;
      transition: 1s;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0;
      text-align: center;
      cursor: pointer;
      @media screen and (max-width: 640px) {
        height: 19vh;
      }

      &::after {
        content: "";
        position: relative;
        display: block;
        background: url(./img/button-gray.png) no-repeat center center / 100% auto;
        width: 36px;
        height: 36px;
        margin: 0 auto;
        transition: 0.5s;
      }

      &.active {
        background-color: #60af49;
        color: #000;
        &::after {
         background: url(./img/button.png) no-repeat center center / 100% auto;
        }

      }

      &__txt {
        font-size: 2rem;
        @media screen and (max-width: 435px) {
          font-size: 1.2rem;
        }
        span {
          font-size: 1rem;
        }
      }
    }
  }

  &__slider {
    max-width: 1040px;
    margin: 0 auto;
    position: relative;

    &__btn {

      .slick-prev-merit {
        position: absolute;
        top: 50%;
        left: -76px;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
          left: 0;
        }

        @media screen and (max-width: 640px) {

          svg {
            width: 7.8125vw;
            height: 7.8125vw;
            padding-left: 20px;
          }
        }
        @media screen and (max-width: 435px) {
          svg {
            padding-left: 0;
        }
      }
      }


      .slick-next-merit {
        position: absolute;
        top: 50%;
        right: -76px;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
          right: 0;
        }

        @media screen and (max-width: 640px) {

          svg {
            width: 7.8125vw;
            height: 7.8125vw;
            padding-right: 20px;
          }
        }
        @media screen and (max-width: 435px) {
          svg {
            padding-right: 0;
          }
        }
      }
    }

    &__list {
      display: flex !important;
      border-top: 1px solid #60af69; ;
      border-bottom: 1px solid #60af69;
      margin-bottom: 30px;
      @media screen and (max-width: 1024px) {
        padding: 20px 0;
        flex-direction: column!important;
        align-items: center;
        gap: 20px;
      }
      @media screen and (max-width: 640px) {
        padding: 20px 35px;
      }

      &__item {
        max-width: 547px;
        position: relative;
        padding: 20px 30px 20px 60px;
        @media screen and (max-width: 1024px) {
          padding: 0;
        }
        @media screen and (max-width: 640px) {
          padding: 0 0 0 35px;
        }
        
        &__eng {
          font-family: "Bodoni Moda";
          font-style: italic;
          color: #003214;
          font-size: 1.6rem;
          opacity: 0.5;
          writing-mode: vertical-rl;
          text-orientation: sideways;
          position: absolute;
          top: 65px;
          left: 16px;
          @media screen and (max-width: 1024px) {
            font-size: 1.4rem;
            top: 0;
            left: -40px;
          }
        }

        &__title {
          font-size: 2.4rem;
          color: #35763c;
          line-height: 1.5;
          margin-bottom: 28px;
          @media screen and (max-width: 1024px) {
            font-size: 2rem;
          }

          @media screen and (max-width: 640px) {
            font-size: 1.8rem;
          }
        }

        &__txt {
          font-family: "Noto Serif JP";
          font-size: 1.3rem;
          color: #3a3a3a;
          line-height: 2;
          @media screen and (max-width: 1024px) {
            font-size: 1.4rem;
          }
        }
      }

      &__photo {
        max-width: 493px;
        width: 100%;
        flex-shrink: 0;

        @media screen and (max-width: 1024px) {
          flex-shrink: unset;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

//accordion
.accordion {
  &__bg {
    background: url(./img/about_bg_01_pc.png) no-repeat top center;
    background-size: cover;
    padding: 100px 0 30px 0;
  }

  &__container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__title {
    padding: 0 0 150px;
    font-size: 5rem;
    font-weight: normal;
    position: relative;

    @media screen and (max-width: 1200px) {
      padding-left: 2%;
      font-size: 3rem;
      padding-bottom: 5%;
    }

    @media screen and (max-width: 640px) {
      font-size: 2rem;
    }

    p {
      position: relative;

      &::before {
        content: "";
        background-color: #60af49;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: -28px;
        top: 33px;
        position: absolute;

        @media screen and (max-width: 1200px) {
          left: -20px;
          top: 17px;
        }

        @media screen and (max-width: 640px) {
          left: -20px;
          top: 12px;
        }

        @media screen and (max-width: 375px) {
          left: -15px;
          top: 11px;
        }
      }
    }

    &__img {
      position: absolute;
      right: 0;
      width: 337px;

      @media screen and (max-width: 1200px) {
        width: 20vw;
      }

      @media screen and (max-width: 640px) {
        width: 27vw;
      }

      &__pic {
        width: 100%;
      }
    }

    span {
      font-weight: normal;
      font-size: 1.6rem;
    }
  }

  &__button {
    width: 100%;
    margin-bottom: 30px;

    &__btn {
      width: 100%;
      cursor: pointer;
      margin-right: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100px;
      border-radius: 20px;
      background-color: #eee;
      font-size: 2.6rem;
      border: 1px solid #60af49;

      @media screen and (max-width: 640px) {
        width: 49.5%;
        margin-right: 1%;
        height: 45px;
        font-size: 1.4rem;
      }

      &:nth-child(2) {
        margin-right: 0;

        @media screen and (max-width: 640px) {
          width: 49.5%;
        }
      }

      @media screen and (max-width: 1024px) {
        height: 65px;
        width: 100%;
      }

      @media screen and (max-width: 640px) {
        height: 50px;
      }
      &:hover {
        background-color: #60af49;
        color: #fff;
      }

      &.active {
        background-color: #60af49;
        color: #fff;
      }
    }
  }

  &__text {
    padding-bottom: 30px;
    
    &__contents {
      font-size: 2rem;
      padding-bottom: 30px;
      color: #60af49;
      font-weight: bold;

      @media screen and (max-width: 640px) {
        font-size: 1.6rem;
      }
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #60af69;

      &:last-child {
        border-bottom: 1px solid #60af69;
      }

      @media screen and (max-width: 640px) {
        flex-direction: column;
      }

      &__title {
        width: 260px;
        font-size: 18px;
        color: #4a4a4a;
        font-weight: bold;
        padding: 35px;
        background-color: #f8faf5;
        ;

        @media screen and (max-width: 1024px) {
          font-size: 1.6rem;
        }

        @media screen and (max-width: 640px) {
          width: 100%;
          font-size: 1.4rem;
        }
      }

      &__contents {
        width: calc(100% - 260px);
        padding: 35px 100px;
        font-size: 18px;
        line-height: 2;
        color: #4a4a4a;
        font-weight: 400;

        @media screen and (max-width: 1024px) {
          font-size: 1.6rem;
          padding: 3% 5%;
        }

        @media screen and (max-width: 640px) {
          width: 100%;
          font-size: 1.4rem;
        }
      }
    }
  }
}

//works
.works  {
  &__bg {
    background: url(./img/about_bg_01_pc.png) no-repeat top center;
    background-size: cover;
    padding-bottom: 20px;
  }

  &__container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__title {
    padding: 0 0 150px;
    font-size: 5rem;
    font-weight: normal;
    position: relative;

    @media screen and (max-width: 1200px) {
      padding-left: 2%;
      font-size: 3rem;
      padding-bottom: 5%;
    }

    @media screen and (max-width: 640px) {
      font-size: 2rem;
    }

    p {
      position: relative;

      &::before {
        content: "";
        background-color: #60af49;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: -28px;
        top: 33px;
        position: absolute;

        @media screen and (max-width: 1200px) {
          left: -20px;
          top: 17px;
        }

        @media screen and (max-width: 640px) {
          left: -20px;
          top: 12px;
        }

        @media screen and (max-width: 375px) {
          left: -15px;
          top: 11px;
        }
      }
    }

    &__img {
      position: absolute;
      right: 0;
      width: 337px;

      @media screen and (max-width: 1200px) {
        width: 20vw;
      }

      @media screen and (max-width: 640px) {
        width: 27vw;
      }

      &__pic {
        width: 100%;
      }
    }

    span {
      font-weight: normal;
      font-size: 1.6rem;
    }
  }
}
.works__inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.works__inner--cnt {
  width: 100%;
  position: relative;
  padding-left: 50px;
  @media screen and (max-width: 640px) {
    padding-left: 0;
  }
}

.works__inner--data {
  position: absolute;
  font-weight: 400;
  font-size: 1.6rem;
  color: #003214;
  left: 0;
  writing-mode: vertical-rl;
  top: 0;
  @media screen and (max-width: 640px) {
    font-size: 1.2rem;
    position: relative;
    left: auto;
    top: auto;
    margin-bottom: 3%;
    writing-mode: horizontal-tb;
  }
}

.works__inner--data--01 {
  color: #003214;
  font-family: "Bodoni Moda";
}

//footer 
.footer {
  background: url(./img/footer_bg_01_pc.jpg) no-repeat center;
  background-size: cover;
  padding: 120px 0;

  &__container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 640px) {
      flex-direction: column;
    }
  }

  &__logo {
    width: 150px;

    @media screen and (max-width: 640px) {
      margin: 0 auto;
      padding-bottom: 20%;
    }

    &__img {
      width: 100%;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;

    small {
      color: #ddd;
      font-size: 16px;
    }
  }
}