@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif+JP&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  overflow: hidden;
  position: relative;
  z-index: 999;
}
.header.is-scrolled {
  top: 0;
}
.header.is-scrolled .header__wrapper {
  background: none;
  background-color: rgba(192, 222, 204, 0.7);
}
.header__wrapper {
  width: 100%;
  display: flex;
  height: 150px;
  justify-content: space-between;
  background: url(./img/header_bg_01_pc.png) no-repeat center;
  position: fixed;
}
@media screen and (max-width: 1024px) {
  .header__wrapper {
    height: 100px;
  }
}
@media screen and (max-width: 727px) {
  .header__wrapper {
    height: 50px;
  }
}
.header__logo {
  width: 123px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 727px) {
  .header__logo {
    width: 50px;
    margin-left: 3%;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 165px;
}
@media screen and (max-width: 1024px) {
  .header__box {
    padding-right: 12%;
    display: none;
  }
}
@media screen and (max-width: 727px) {
  .header__box {
    padding-right: 6%;
  }
}
@media screen and (max-width: 425px) {
  .header__box {
    padding-right: 13%;
  }
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__nav__list {
  display: flex;
  justify-content: flex-end;
}
.header__nav__list__item {
  font-family: "Noto Serif JP";
  font-size: 2.4rem;
  margin-right: 60px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .header__nav__list__item {
    margin-right: 25px;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 425px) {
  .header__nav__list__item {
    margin-right: 12px;
  }
}
@media screen and (max-width: 640px) {
  .header__nav__list__item {
    font-size: 1rem;
  }
}
.header__nav__list__item a {
  color: #35763c;
  position: relative;
}
.header__nav__list__item a::before {
  content: "";
  background-color: #35763c;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1024px) {
  .header__nav__list__item a::before {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  .header__nav__list__item a::before {
    width: 5px;
    height: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 425px) {
  .header__nav__list__item a::before {
    margin-right: 5px;
  }
}
.header__button {
  background: url(./img/header_img_03_pc.png) no-repeat center;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .header__button {
    display: none;
  }
}
@media screen and (max-width: 727px) {
  .header__button {
    width: 50px;
    height: 50px;
  }
}
.header__button img {
  width: 100%;
  z-index: 3;
}
.header .ham-menu {
  width: 100px;
  height: 100px;
  background: url(./img/header_img_03_pc.png) no-repeat center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3;
  top: 0;
  right: 0;
  display: none;
}
@media screen and (max-width: 1024px) {
  .header .ham-menu {
    display: block;
  }
}
@media screen and (max-width: 727px) {
  .header .ham-menu {
    width: 50px;
    height: 50px;
  }
}
.header .ham-menu.active span:nth-child(1) {
  transform: rotate(-45deg);
  top: 48px;
  width: 75px;
  left: 13px;
}
@media screen and (max-width: 727px) {
  .header .ham-menu.active span:nth-child(1) {
    top: 24px;
    left: 7px;
    width: 40px;
  }
}
.header .ham-menu.active span:nth-child(2) {
  display: none;
}
.header .ham-menu.active span:nth-child(3) {
  transform: rotate(45deg);
  top: 49px;
  width: 75px;
  left: 13px;
}
@media screen and (max-width: 727px) {
  .header .ham-menu.active span:nth-child(3) {
    top: 25px;
    left: 7px;
    width: 40px;
  }
}
.header .ham-menu span {
  display: inline-block;
  position: absolute;
  left: 20px;
  height: 2px;
  background: #fff;
  width: 63px;
}
@media screen and (max-width: 727px) {
  .header .ham-menu span {
    left: 7px;
    width: 35px;
  }
}
.header .ham-menu span:nth-child(1) {
  top: 75px;
}
@media screen and (max-width: 727px) {
  .header .ham-menu span:nth-child(1) {
    top: 38px;
  }
}
.header .ham-menu span:nth-child(2) {
  top: 50px;
}
@media screen and (max-width: 727px) {
  .header .ham-menu span:nth-child(2) {
    top: 25px;
  }
}
.header .ham-menu span:nth-child(3) {
  top: 25px;
}
@media screen and (max-width: 727px) {
  .header .ham-menu span:nth-child(3) {
    top: 12px;
  }
}
.header.active {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
}
.header.active .header__box {
  display: block;
  height: 100vh;
  position: absolute;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  height: 100vh;
}
.header.active .header__nav__list {
  flex-direction: column;
  line-height: 4;
  width: 100%;
}
.header.active .header__nav__list__item {
  font-size: 2.6rem;
  margin-right: 0;
}
@media screen and (max-width: 727px) {
  .header.active .header__nav__list__item {
    font-size: 2.4rem;
  }
}

.fv {
  overflow: hidden;
}
.fv__slider {
  overflow: hidden;
  width: 100%;
  opacity: 0;
  position: relative;
  z-index: 1;
}
.fv__slider.slick-initialized {
  opacity: 1;
}
.fv__slider--cnt {
  width: 100%;
  height: 100vh;
  min-height: 800px;
}
.fv__slider--cnt img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
.fv__slider--cnt img.img-pc {
  display: block;
}
.fv__slider--cnt img.img-sp {
  display: none;
}
@media screen and (max-width: 640px) {
  .fv__slider--cnt img.img-pc {
    display: none;
  }
  .fv__slider--cnt img.img-sp {
    display: block;
  }
}
.fv__bg {
  width: 100%;
  padding-bottom: 10%;
}
.fv__bg img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.fv__title {
  width: 500px;
  flex-wrap: wrap;
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 3;
}
@media screen and (max-width: 640px) {
  .fv__title {
    width: 70%;
  }
}
.fv__title__text {
  background: url(./img/mv_bg_01_pc.png) no-repeat center;
  color: #fff;
  font-size: 3rem;
  padding: 2% 6%;
  display: inline-block;
  margin-bottom: 32px;
}
@media screen and (max-width: 640px) {
  .fv__title__text {
    font-size: 2rem;
  }
}
.fv__float {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 999;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 640px) {
  .fv__float {
    display: none !important;
  }
}

.concept {
  position: relative;
  width: 100%;
  background-color: #E8F6E2;
}
.concept::before {
  content: "";
  width: 1px;
  height: 80px;
  background-color: #60af49;
  top: -6%;
  left: 50%;
  position: absolute;
}
@media screen and (max-width: 375px) {
  .concept::before {
    top: -5%;
    height: 50px;
  }
}
.concept__bg {
  background: url(./img/concept_bg_01_pc.png) no-repeat center top 190px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .concept__bg {
    background: url(./img/concept_bg_01_pc.png) no-repeat center 187px;
    background-size: 123%;
  }
}
@media screen and (max-width: 640px) {
  .concept__bg {
    background: url(./img/concept_bg_01_pc.png) no-repeat center 170px;
    background-size: contain;
  }
}
@media screen and (max-width: 375px) {
  .concept__bg {
    background: url(./img/concept_bg_01_pc.png) no-repeat center 100px;
    background-size: 125%;
  }
}
.concept__container {
  position: relative;
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .concept__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .concept__container {
    padding: 0 4%;
  }
}
@media screen and (max-width: 375px) {
  .concept__container {
    padding: 0 4%;
  }
}
.concept__title {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-weight: normal;
}
@media screen and (max-width: 1024px) {
  .concept__title {
    padding-top: 15%;
    font-size: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .concept__title {
    font-size: 1.5rem;
  }
}
.concept__title::before {
  content: "";
  background-color: #60af49;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 4px;
}
@media screen and (max-width: 375px) {
  .concept__title::before {
    width: 7px;
    height: 7px;
    margin-right: 5px;
    margin-top: 0;
  }
}
.concept__sub-title {
  line-height: 1.5;
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Noto Serif JP";
  font-size: 3.2rem;
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  .concept__sub-title {
    font-size: 2.8rem;
    padding-top: 7%;
  }
}
@media screen and (max-width: 375px) {
  .concept__sub-title {
    font-size: 1.8rem;
    padding-top: 7%;
  }
}
.concept__sub-title span {
  color: #60af49;
}
.concept__text {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif JP";
  font-size: 18px;
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 1024px) {
  .concept__text {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 640px) {
  .concept__text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .concept__text {
    font-size: 1.2rem;
    padding: 10% 0 20%;
  }
}

.message {
  width: 100%;
  height: 100%;
}
.message__bg {
  width: 100%;
  height: 100%;
  background: url(./img/message_bg_01_pc.png) no-repeat top center;
}
.message__container {
  position: relative;
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .message__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .message__container {
    padding: 0 4%;
  }
}
.message__wrapper {
  display: flex;
  width: 100%;
  padding-top: 100px;
}
@media screen and (max-width: 640px) {
  .message__wrapper {
    flex-direction: column-reverse;
  }
}
.message__text {
  width: 70%;
}
@media screen and (max-width: 1200px) {
  .message__text {
    width: 55%;
    padding-left: 2%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 640px) {
  .message__text {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .message__text {
    padding: 4%;
  }
}
.message__text__title {
  font-weight: normal;
  position: relative;
}
.message__text__title span {
  font-weight: normal;
  font-size: 1.6rem;
}
.message__text__title p {
  font-size: 5rem;
}
@media screen and (max-width: 1200px) {
  .message__text__title p {
    font-size: 3rem;
  }
  .message__text__title p .br {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .message__text__title p {
    font-size: 2.3rem;
  }
}
.message__text__title p::before {
  content: "";
  background-color: #60af49;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -30px;
  top: 54px;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .message__text__title p::before {
    left: -23px;
    top: 42px;
  }
}
@media screen and (max-width: 1024px) {
  .message__text__title p::before {
    left: -20px;
    top: 40px;
  }
}
@media screen and (max-width: 640px) {
  .message__text__title p::before {
    top: 36px;
    left: -15px;
  }
}
.message__text__sub-title {
  font-family: "Noto Serif JP";
  font-weight: normal;
  padding: 32px 0 100px;
  font-size: 3rem;
}
@media screen and (max-width: 1024px) {
  .message__text__sub-title {
    font-size: 2rem;
    padding: 3% 0 10%;
  }
}
@media screen and (max-width: 375px) {
  .message__text__sub-title {
    font-size: 1.4rem;
  }
}
.message__text__contents {
  font-family: "Noto Serif JP";
  font-size: 18px;
  line-height: 2;
  padding-bottom: 70px;
}
@media screen and (max-width: 1024px) {
  .message__text__contents {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 640px) {
  .message__text__contents {
    font-size: 1.2rem;
  }
  .message__text__contents .br {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .message__text__contents {
    padding-bottom: 10%;
  }
}
.message__text__contents span {
  font-size: 3rem;
}
@media screen and (max-width: 1024px) {
  .message__text__contents span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .message__text__contents span {
    font-size: 1.4rem;
  }
}
.message__text__btn {
  display: inline-block;
  color: #fff;
  border-radius: 100px;
  background: url(./img/recruitment_img_02_pc.png) no-repeat center;
  background-size: cover;
  width: 460px;
  height: 90px;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .message__text__btn {
    width: 100%;
    height: 60px;
  }
}
@media screen and (max-width: 640px) {
  .message__text__btn {
    width: 90%;
    margin: 0 auto;
    height: 45px;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 375px) {
  .message__text__btn {
    font-size: 1.5rem;
    height: 45px;
    width: 100%;
  }
}
.message__pic {
  width: 30%;
}
@media screen and (max-width: 1200px) {
  .message__pic {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .message__pic {
    width: 50%;
    padding-left: 10%;
  }
}
@media screen and (max-width: 640px) {
  .message__pic {
    margin: 0 auto 10%;
    width: 60%;
    padding-left: 0;
  }
}
@media screen and (max-width: 375px) {
  .message__pic {
    width: 75%;
  }
}
.message__pic__photo {
  width: 100%;
}

.about-us {
  padding-bottom: 40px;
}
.about-us__bg {
  background: url(./img/about_bg_01_pc.png) no-repeat top center;
  background-size: cover;
  padding: 120px 0;
}
@media screen and (max-width: 1200px) {
  .about-us__bg {
    padding: 0;
  }
}
.about-us__container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .about-us__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .about-us__container {
    padding: 0 4%;
  }
}
.about-us__title {
  padding: 150px 0;
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .about-us__title {
    padding: 8% 0;
  }
}
@media screen and (max-width: 640px) {
  .about-us__title {
    font-size: 2rem;
  }
}
.about-us__title p {
  display: inline-block;
  position: relative;
}
.about-us__title p::before {
  content: "";
  background-color: #60af49;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 15px;
  left: -25px;
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .about-us__title p::before {
    left: -20px;
    top: 16px;
  }
}
@media screen and (max-width: 640px) {
  .about-us__title p::before {
    left: -15px;
    top: 10px;
  }
}
@media screen and (max-width: 375px) {
  .about-us__title p::before {
    left: -15px;
    top: 10px;
  }
}
.about-us__title span {
  font-weight: normal;
  font-size: 1.6rem;
}
@media screen and (max-width: 375px) {
  .about-us__title span {
    font-size: 1.4rem;
  }
}
.about-us__button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 180px;
}
@media screen and (max-width: 1024px) {
  .about-us__button {
    margin-bottom: 10%;
  }
}
.about-us__button__btn {
  cursor: pointer;
  width: calc(50% - 30px);
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  border-radius: 20px 20px 0 0;
  background-color: #eee;
  font-size: 2.6rem;
}
@media screen and (max-width: 1024px) {
  .about-us__button__btn {
    font-size: 2vw;
  }
}
@media screen and (max-width: 640px) {
  .about-us__button__btn {
    width: 49.5%;
    margin-right: 1%;
  }
}
.about-us__button__btn:nth-child(2) {
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  .about-us__button__btn:nth-child(2) {
    width: 49.5%;
  }
}
@media screen and (max-width: 1024px) {
  .about-us__button__btn {
    font-size: 2vw;
    height: 140px;
  }
}
@media screen and (max-width: 640px) {
  .about-us__button__btn {
    height: 85px;
  }
}
@media screen and (max-width: 375px) {
  .about-us__button__btn {
    font-size: 1rem;
  }
}
.about-us__button__btn.active {
  background-color: #60af49;
  color: #fff;
}
.about-us__wrapper {
  display: flex;
}
@media screen and (max-width: 640px) {
  .about-us__wrapper {
    flex-direction: column-reverse;
  }
}
.about-us__text {
  width: calc(100% - 560px);
  margin-right: 50px;
}
@media screen and (max-width: 1024px) {
  .about-us__text {
    width: 50%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 640px) {
  .about-us__text {
    width: 100%;
    margin-right: 0;
    padding: 3%;
  }
}
.about-us__text__title {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #4a4a4a;
  font-weight: 500;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #005b22;
}
@media screen and (max-width: 1024px) {
  .about-us__text__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .about-us__text__title {
    margin-bottom: 3%;
    padding-bottom: 3%;
  }
}
.about-us__text__contents {
  font-size: 1.6rem;
  padding-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .about-us__text__contents {
    font-size: 1.2rem;
  }
}
.about-us__text__button {
  border-radius: 100px;
  background: url(./img/recruitment_img_02_pc.png) no-repeat center;
  background-size: cover;
  width: 420px;
  height: 70px;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .about-us__text__button {
    height: 60px;
  }
}
@media screen and (max-width: 640px) {
  .about-us__text__button {
    width: 100%;
  }
}
.about-us__text__button a {
  color: #fff;
}
@media screen and (max-width: 375px) {
  .about-us__text__button {
    height: 45px;
    font-size: 1.5rem;
  }
}
.about-us__pic {
  width: 627px;
}
@media screen and (max-width: 1024px) {
  .about-us__pic {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .about-us__pic {
    width: 100%;
  }
}
.about-us__pic__img {
  width: 100%;
}

.recruitment__bg {
  background: url(./img/about_bg_01_pc.png) no-repeat top center;
  background-size: cover;
  padding-bottom: 40px;
}
.recruitment__container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .recruitment__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .recruitment__container {
    padding: 0 4%;
  }
}
.recruitment__title {
  padding: 0 0 150px;
  font-size: 5rem;
  font-weight: normal;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .recruitment__title {
    padding-left: 2%;
    font-size: 3rem;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 640px) {
  .recruitment__title {
    font-size: 2rem;
  }
}
.recruitment__title p {
  position: relative;
}
.recruitment__title p::before {
  content: "";
  background-color: #60af49;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -28px;
  top: 33px;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .recruitment__title p::before {
    left: -20px;
    top: 17px;
  }
}
@media screen and (max-width: 640px) {
  .recruitment__title p::before {
    left: -20px;
    top: 12px;
  }
}
@media screen and (max-width: 375px) {
  .recruitment__title p::before {
    left: -15px;
    top: 11px;
  }
}
.recruitment__title__img {
  position: absolute;
  right: 0;
  width: 337px;
}
@media screen and (max-width: 1200px) {
  .recruitment__title__img {
    width: 20vw;
  }
}
@media screen and (max-width: 640px) {
  .recruitment__title__img {
    width: 27vw;
  }
}
.recruitment__title__img__pic {
  width: 100%;
}
.recruitment__title span {
  font-weight: normal;
  font-size: 1.6rem;
}
.recruitment__button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.recruitment__button__btn {
  cursor: pointer;
  width: calc(50% - 30px);
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  border-radius: 20px;
  background-color: #eee;
  font-size: 2.6rem;
  border: 1px solid #60af49;
}
@media screen and (max-width: 640px) {
  .recruitment__button__btn {
    width: 49.5%;
    margin-right: 1%;
    height: 45px;
    font-size: 1.4rem;
  }
}
.recruitment__button__btn:nth-child(2) {
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  .recruitment__button__btn:nth-child(2) {
    width: 49.5%;
  }
}
@media screen and (max-width: 1024px) {
  .recruitment__button__btn {
    height: 65px;
  }
}
@media screen and (max-width: 640px) {
  .recruitment__button__btn {
    height: 50px;
  }
}
.recruitment__button__btn.active {
  background-color: #60af49;
  color: #fff;
}
.recruitment__text__contents {
  font-size: 2rem;
  padding-bottom: 30px;
  color: #60af49;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .recruitment__text__contents {
    font-size: 1.6rem;
  }
}
.recruitment__text__item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #60af69;
}
.recruitment__text__item:last-child {
  border-bottom: 1px solid #60af69;
}
@media screen and (max-width: 640px) {
  .recruitment__text__item {
    flex-direction: column;
  }
}
.recruitment__text__item__title {
  width: 260px;
  font-size: 18px;
  color: #4a4a4a;
  font-weight: bold;
  padding: 35px;
  background-color: #f8faf5;
}
@media screen and (max-width: 1024px) {
  .recruitment__text__item__title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 640px) {
  .recruitment__text__item__title {
    width: 100%;
    font-size: 1.4rem;
  }
}
.recruitment__text__item__contents {
  width: calc(100% - 260px);
  padding: 35px 100px;
  font-size: 18px;
  line-height: 2;
  color: #4a4a4a;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .recruitment__text__item__contents {
    font-size: 1.6rem;
    padding: 3% 5%;
  }
}
@media screen and (max-width: 640px) {
  .recruitment__text__item__contents {
    width: 100%;
    font-size: 1.4rem;
  }
}

.merit {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .merit {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .merit {
    padding: 0 4%;
  }
}
.merit__title {
  padding: 0 0 100px;
  font-size: 5rem;
  font-weight: normal;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .merit__title {
    padding-left: 2%;
    font-size: 3rem;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 640px) {
  .merit__title {
    font-size: 2rem;
  }
}
.merit__title p {
  position: relative;
}
.merit__title p::before {
  content: "";
  background-color: #60af49;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -28px;
  top: 33px;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .merit__title p::before {
    left: -20px;
    top: 17px;
  }
}
@media screen and (max-width: 640px) {
  .merit__title p::before {
    left: -20px;
    top: 12px;
  }
}
@media screen and (max-width: 375px) {
  .merit__title p::before {
    left: -15px;
    top: 11px;
  }
}
.merit__title span {
  font-weight: normal;
  font-size: 1.6rem;
}
.merit__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 30px;
}
.merit__box__item {
  border-radius: 10px;
  border: 1px solid #60af49;
  width: 213px;
  height: 221px;
  background-color: #eee;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .merit__box__item {
    height: 19vh;
  }
}
.merit__box__item::after {
  content: "";
  position: relative;
  display: block;
  background: url(./img/button-gray.png) no-repeat center center/100% auto;
  width: 36px;
  height: 36px;
  margin: 0 auto;
  transition: 0.5s;
}
.merit__box__item.active {
  background-color: #60af49;
  color: #000;
}
.merit__box__item.active::after {
  background: url(./img/button.png) no-repeat center center/100% auto;
}
.merit__box__item__txt {
  font-size: 2rem;
}
@media screen and (max-width: 435px) {
  .merit__box__item__txt {
    font-size: 1.2rem;
  }
}
.merit__box__item__txt span {
  font-size: 1rem;
}
.merit__slider {
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
}
.merit__slider__btn .slick-prev-merit {
  position: absolute;
  top: 50%;
  left: -76px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .merit__slider__btn .slick-prev-merit {
    left: 0;
  }
}
@media screen and (max-width: 640px) {
  .merit__slider__btn .slick-prev-merit svg {
    width: 7.8125vw;
    height: 7.8125vw;
    padding-left: 20px;
  }
}
@media screen and (max-width: 435px) {
  .merit__slider__btn .slick-prev-merit svg {
    padding-left: 0;
  }
}
.merit__slider__btn .slick-next-merit {
  position: absolute;
  top: 50%;
  right: -76px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .merit__slider__btn .slick-next-merit {
    right: 0;
  }
}
@media screen and (max-width: 640px) {
  .merit__slider__btn .slick-next-merit svg {
    width: 7.8125vw;
    height: 7.8125vw;
    padding-right: 20px;
  }
}
@media screen and (max-width: 435px) {
  .merit__slider__btn .slick-next-merit svg {
    padding-right: 0;
  }
}
.merit__slider__list {
  display: flex !important;
  border-top: 1px solid #60af69;
  border-bottom: 1px solid #60af69;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .merit__slider__list {
    padding: 20px 0;
    flex-direction: column !important;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 640px) {
  .merit__slider__list {
    padding: 20px 35px;
  }
}
.merit__slider__list__item {
  max-width: 547px;
  position: relative;
  padding: 20px 30px 20px 60px;
}
@media screen and (max-width: 1024px) {
  .merit__slider__list__item {
    padding: 0;
  }
}
@media screen and (max-width: 640px) {
  .merit__slider__list__item {
    padding: 0 0 0 35px;
  }
}
.merit__slider__list__item__eng {
  font-family: "Bodoni Moda";
  font-style: italic;
  color: #003214;
  font-size: 1.6rem;
  opacity: 0.5;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  position: absolute;
  top: 65px;
  left: 16px;
}
@media screen and (max-width: 1024px) {
  .merit__slider__list__item__eng {
    font-size: 1.4rem;
    top: 0;
    left: -40px;
  }
}
.merit__slider__list__item__title {
  font-size: 2.4rem;
  color: #35763c;
  line-height: 1.5;
  margin-bottom: 28px;
}
@media screen and (max-width: 1024px) {
  .merit__slider__list__item__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .merit__slider__list__item__title {
    font-size: 1.8rem;
  }
}
.merit__slider__list__item__txt {
  font-family: "Noto Serif JP";
  font-size: 1.3rem;
  color: #3a3a3a;
  line-height: 2;
}
@media screen and (max-width: 1024px) {
  .merit__slider__list__item__txt {
    font-size: 1.4rem;
  }
}
.merit__slider__list__photo {
  max-width: 493px;
  width: 100%;
  flex-shrink: 0;
}
@media screen and (max-width: 1024px) {
  .merit__slider__list__photo {
    flex-shrink: unset;
  }
}
.merit__slider__list__photo img {
  width: 100%;
  height: 100%;
}

.accordion__bg {
  background: url(./img/about_bg_01_pc.png) no-repeat top center;
  background-size: cover;
  padding: 100px 0 30px 0;
}
.accordion__container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .accordion__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .accordion__container {
    padding: 0 4%;
  }
}
.accordion__title {
  padding: 0 0 150px;
  font-size: 5rem;
  font-weight: normal;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .accordion__title {
    padding-left: 2%;
    font-size: 3rem;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 640px) {
  .accordion__title {
    font-size: 2rem;
  }
}
.accordion__title p {
  position: relative;
}
.accordion__title p::before {
  content: "";
  background-color: #60af49;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -28px;
  top: 33px;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .accordion__title p::before {
    left: -20px;
    top: 17px;
  }
}
@media screen and (max-width: 640px) {
  .accordion__title p::before {
    left: -20px;
    top: 12px;
  }
}
@media screen and (max-width: 375px) {
  .accordion__title p::before {
    left: -15px;
    top: 11px;
  }
}
.accordion__title__img {
  position: absolute;
  right: 0;
  width: 337px;
}
@media screen and (max-width: 1200px) {
  .accordion__title__img {
    width: 20vw;
  }
}
@media screen and (max-width: 640px) {
  .accordion__title__img {
    width: 27vw;
  }
}
.accordion__title__img__pic {
  width: 100%;
}
.accordion__title span {
  font-weight: normal;
  font-size: 1.6rem;
}
.accordion__button {
  width: 100%;
  margin-bottom: 30px;
}
.accordion__button__btn {
  cursor: pointer;
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  border-radius: 20px;
  background-color: #eee;
  font-size: 2.6rem;
  border: 1px solid #60af49;
}
.accordion__button__btn .scroll-down {
  display: block;
}
.accordion__button__btn .scroll-up {
  display: none;
}
@media screen and (max-width: 640px) {
  .accordion__button__btn {
    width: 49.5%;
    margin-right: 1%;
    height: 45px;
    font-size: 1.4rem;
  }
}
.accordion__button__btn:nth-child(2) {
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  .accordion__button__btn:nth-child(2) {
    width: 49.5%;
  }
}
@media screen and (max-width: 1024px) {
  .accordion__button__btn {
    height: 65px;
  }
}
@media screen and (max-width: 640px) {
  .accordion__button__btn {
    height: 50px;
  }
}
.accordion__button__btn:hover {
  background-color: #60af49;
  color: #fff;
}
.accordion__button__btn.active {
  background-color: #60af49;
  color: #fff;
}
.accordion__text {
  padding-bottom: 30px;
}
.accordion__text__contents {
  font-size: 2rem;
  padding-bottom: 30px;
  color: #60af49;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .accordion__text__contents {
    font-size: 1.6rem;
  }
}
.accordion__text__item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #60af69;
}
.accordion__text__item:last-child {
  border-bottom: 1px solid #60af69;
}
@media screen and (max-width: 640px) {
  .accordion__text__item {
    flex-direction: column;
  }
}
.accordion__text__item__title {
  width: 260px;
  font-size: 18px;
  color: #4a4a4a;
  font-weight: bold;
  padding: 35px;
  background-color: #f8faf5;
}
@media screen and (max-width: 1024px) {
  .accordion__text__item__title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 640px) {
  .accordion__text__item__title {
    width: 100%;
    font-size: 1.4rem;
  }
}
.accordion__text__item__contents {
  width: calc(100% - 260px);
  padding: 35px 100px;
  font-size: 18px;
  line-height: 2;
  color: #4a4a4a;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .accordion__text__item__contents {
    font-size: 1.6rem;
    padding: 3% 5%;
  }
}
@media screen and (max-width: 640px) {
  .accordion__text__item__contents {
    width: 100%;
    font-size: 1.4rem;
  }
}

.works__bg {
  background: url(./img/about_bg_01_pc.png) no-repeat top center;
  background-size: cover;
  padding-bottom: 20px;
}
.works__container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  .works__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .works__container {
    padding: 0 4%;
  }
}
.works__title {
  padding: 0 0 150px;
  font-size: 5rem;
  font-weight: normal;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .works__title {
    padding-left: 2%;
    font-size: 3rem;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 640px) {
  .works__title {
    font-size: 2rem;
  }
}
.works__title p {
  position: relative;
}
.works__title p::before {
  content: "";
  background-color: #60af49;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -28px;
  top: 33px;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .works__title p::before {
    left: -20px;
    top: 17px;
  }
}
@media screen and (max-width: 640px) {
  .works__title p::before {
    left: -20px;
    top: 12px;
  }
}
@media screen and (max-width: 375px) {
  .works__title p::before {
    left: -15px;
    top: 11px;
  }
}
.works__title__img {
  position: absolute;
  right: 0;
  width: 337px;
}
@media screen and (max-width: 1200px) {
  .works__title__img {
    width: 20vw;
  }
}
@media screen and (max-width: 640px) {
  .works__title__img {
    width: 27vw;
  }
}
.works__title__img__pic {
  width: 100%;
}
.works__title span {
  font-weight: normal;
  font-size: 1.6rem;
}

.works__inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.works__inner--cnt {
  width: 100%;
  position: relative;
  padding-left: 50px;
}
@media screen and (max-width: 640px) {
  .works__inner--cnt {
    padding-left: 0;
  }
}

.works__inner--data {
  position: absolute;
  font-weight: 400;
  font-size: 1.6rem;
  color: #003214;
  left: 0;
  writing-mode: vertical-rl;
  top: 0;
}
@media screen and (max-width: 640px) {
  .works__inner--data {
    font-size: 1.2rem;
    position: relative;
    left: auto;
    top: auto;
    margin-bottom: 3%;
    writing-mode: horizontal-tb;
  }
}

.works__inner--data--01 {
  color: #003214;
  font-family: "Bodoni Moda";
}

.footer {
  background: url(./img/footer_bg_01_pc.jpg) no-repeat center;
  background-size: cover;
  padding: 120px 0;
}
.footer__container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .footer__inner {
    flex-direction: column;
  }
}
.footer__logo {
  width: 150px;
}
@media screen and (max-width: 640px) {
  .footer__logo {
    margin: 0 auto;
    padding-bottom: 20%;
  }
}
.footer__logo__img {
  width: 100%;
}
.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text small {
  color: #ddd;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */