@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif+JP&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  overflow: hidden;
  position: relative;
  z-index: 999;
}
.header__wrapper {
  width: 100%;
  display: flex;
  height: 150px;
  justify-content: space-between;
  background: url(./img/header_bg_01_pc.png) no-repeat center;
  position: fixed;
}
@media screen and (max-width: 1024px) {
  .header__wrapper {
    height: 100px;
  }
}
@media screen and (max-width: 727px) {
  .header__wrapper {
    height: 50px;
  }
}
.header__logo {
  width: 123px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 727px) {
  .header__logo {
    width: 50px;
    margin-left: 3%;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 165px;
}
@media screen and (max-width: 1024px) {
  .header__box {
    padding-right: 12%;
  }
}
@media screen and (max-width: 727px) {
  .header__box {
    padding-right: 6%;
  }
}
@media screen and (max-width: 425px) {
  .header__box {
    padding-right: 13%;
  }
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__nav__list {
  display: flex;
  justify-content: flex-end;
}
.header__nav__list__item {
  font-family: "Noto Serif JP";
  font-size: 2.4rem;
  margin-right: 60px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .header__nav__list__item {
    margin-right: 25px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .header__nav__list__item {
    margin-right: 12px;
  }
}
@media screen and (max-width: 640px) {
  .header__nav__list__item {
    font-size: 1rem;
  }
}
.header__nav__list__item a {
  color: #35763c;
  position: relative;
}
.header__nav__list__item a::before {
  content: "";
  background-color: #35763c;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1024px) {
  .header__nav__list__item a::before {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  .header__nav__list__item a::before {
    width: 5px;
    height: 5px;
  }
}
@media screen and (max-width: 425px) {
  .header__nav__list__item a::before {
    margin-right: 5px;
  }
}
.header__button {
  background: url(./img/header_img_03_pc.png) no-repeat center;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .header__button {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 727px) {
  .header__button {
    width: 50px;
    height: 50px;
  }
}
.header__button img {
  width: 100%;
  z-index: 3;
}

.fv {
  overflow: hidden;
}
.fv__slider {
  overflow: hidden;
  width: 100%;
  opacity: 0;
  position: relative;
  z-index: 1;
}
.fv__slider.slick-initialized {
  opacity: 1;
}
.fv__slider--cnt {
  width: 100%;
  height: 100vh;
  min-height: 800px;
}
.fv__slider--cnt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}
.fv__slider--cnt img.img-pc {
  display: block;
}
.fv__slider--cnt img.img-sp {
  display: none;
}
@media screen and (max-width: 640px) {
  .fv__slider--cnt img.img-pc {
    display: none;
  }
  .fv__slider--cnt img.img-sp {
    display: block;
  }
}
.fv__bg {
  width: 100%;
  padding-bottom: 10%;
}
.fv__bg img {
  width: 100%;
  object-fit: contain;
}
.fv__title {
  width: 500px;
  flex-wrap: wrap;
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 999;
}
@media screen and (max-width: 640px) {
  .fv__title {
    width: 70%;
  }
}
.fv__title__text {
  background: url(./img/mv_bg_01_pc.png) no-repeat center;
  color: #fff;
  font-size: 3rem;
  padding: 2% 6%;
  display: inline-block;
  margin-bottom: 32px;
}
@media screen and (max-width: 640px) {
  .fv__title__text {
    font-size: 2rem;
  }
}

.concept {
  position: relative;
  width: 100%;
  background-color: #E8F6E2;
}
.concept::before {
  content: "";
  width: 1px;
  height: 80px;
  background-color: #60af49;
  top: -6%;
  left: 50%;
  position: absolute;
}
@media screen and (max-width: 375px) {
  .concept::before {
    top: -5%;
    height: 50px;
  }
}
.concept__bg {
  background: url(./img/concept_bg_01_pc.png) no-repeat center top 190px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .concept__bg {
    background: url(./img/concept_bg_01_pc.png) no-repeat center 187px;
    background-size: 123%;
  }
}
@media screen and (max-width: 640px) {
  .concept__bg {
    background: url(./img/concept_bg_01_pc.png) no-repeat center 170px;
    background-size: contain;
  }
}
@media screen and (max-width: 375px) {
  .concept__bg {
    background: url(./img/concept_bg_01_pc.png) no-repeat center 100px;
    background-size: 125%;
  }
}
.concept__container {
  position: relative;
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .concept__container {
    padding: 0 4%;
  }
}
.concept__title {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-weight: normal;
}
@media screen and (max-width: 1024px) {
  .concept__title {
    padding-top: 15%;
    font-size: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .concept__title {
    font-size: 1.5rem;
  }
}
.concept__title::before {
  content: "";
  background-color: #60af49;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 4px;
}
@media screen and (max-width: 375px) {
  .concept__title::before {
    width: 7px;
    height: 7px;
    margin-right: 5px;
    margin-top: 0;
  }
}
.concept__sub-title {
  line-height: 1.5;
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Noto Serif JP";
  font-size: 3.2rem;
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  .concept__sub-title {
    font-size: 2.8rem;
    padding-top: 7%;
  }
}
@media screen and (max-width: 375px) {
  .concept__sub-title {
    font-size: 1.8rem;
    padding-top: 7%;
  }
}
.concept__sub-title span {
  color: #60af49;
}
.concept__text {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif JP";
  font-size: 18px;
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 1024px) {
  .concept__text {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 640px) {
  .concept__text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 640px) {
  .concept__text {
    padding: 15% 0;
  }
}

.message {
  width: 100%;
  height: 100%;
}
.message__bg {
  width: 100%;
  height: 100%;
  background: url(./img/message_bg_01_pc.png) no-repeat top center;
}
.message__container {
  position: relative;
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}
@media screen and (max-width: 640px) {
  .message__container {
    padding: 0 4%;
  }
}
.message__wrapper {
  display: flex;
  width: 100%;
  padding-top: 100px;
}
@media screen and (max-width: 640px) {
  .message__wrapper {
    flex-direction: column-reverse;
  }
}
.message__text {
  width: 70%;
}
@media screen and (max-width: 1024px) {
  .message__text {
    width: 50%;
    padding-left: 2%;
  }
}
@media screen and (max-width: 640px) {
  .message__text {
    width: 100%;
  }
}
.message__text__title {
  font-weight: normal;
  position: relative;
}
.message__text__title span {
  font-weight: normal;
  font-size: 1.6rem;
}
.message__text__title p {
  font-size: 5rem;
}
@media screen and (max-width: 1024px) {
  .message__text__title p {
    font-size: 3rem;
  }
  .message__text__title p .br {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .message__text__title p {
    font-size: 2.3rem;
  }
}
.message__text__title p::before {
  content: "";
  background-color: #60af49;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -30px;
  top: 54px;
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .message__text__title p::before {
    left: -20px;
    top: 40px;
  }
}
@media screen and (max-width: 640px) {
  .message__text__title p::before {
    top: 36px;
    left: -15px;
  }
}
.message__text__sub-title {
  font-family: "Noto Serif JP";
  font-weight: normal;
  padding: 32px 0 100px;
  font-size: 3rem;
}
@media screen and (max-width: 1024px) {
  .message__text__sub-title {
    font-size: 2rem;
    padding: 3% 0 10%;
  }
}
.message__text__contents {
  font-family: "Noto Serif JP";
  font-size: 18px;
  line-height: 2;
  padding-bottom: 70px;
}
@media screen and (max-width: 1024px) {
  .message__text__contents {
    font-size: 1.4rem;
  }
}
.message__text__contents span {
  font-size: 3rem;
}
@media screen and (max-width: 1024px) {
  .message__text__contents span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .message__text__contents span {
    font-size: 2rem;
  }
}
.message__text__btn {
  display: inline-block;
  color: #fff;
  border-radius: 100px;
  background: url(./img/recruitment_img_02_pc.png) no-repeat center;
  background-size: cover;
  width: 460px;
  height: 90px;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .message__text__btn {
    width: 100%;
    height: 60px;
  }
}
@media screen and (max-width: 640px) {
  .message__text__btn {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  .message__text__btn {
    font-size: 1.5rem;
    height: 45px;
  }
}
.message__pic {
  width: 30%;
}
@media screen and (max-width: 1024px) {
  .message__pic {
    width: 50%;
    padding-left: 10%;
  }
}
@media screen and (max-width: 640px) {
  .message__pic {
    margin: 0 auto 10%;
    width: 60%;
    padding-left: 0;
  }
}
@media screen and (max-width: 375px) {
  .message__pic {
    width: 75%;
  }
}
.message__pic__photo {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
